tags/1.6-pre-maven/ace-ims-api/src/META-INF/wsdl/ims.umiacs.umd.edu_8080/ace-ims/IMSWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ims.ace.umiacs.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ims.ace.umiacs.edu/" name="IMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ims.ace.umiacs.edu/" schemaLocation="http://ims.umiacs.umd.edu:8080/ace-ims/IMSWebService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="requestLink">
<part name="parameters" element="tns:requestLink"></part>
</message>
<message name="requestLinkResponse">
<part name="parameters" element="tns:requestLinkResponse"></part>
</message>
<message name="IMSFault">
<part name="fault" element="tns:IMSFault"></part>
</message>
<message name="requestTokensAsync">
<part name="parameters" element="tns:requestTokensAsync"></part>
</message>
<message name="requestTokensAsyncResponse">
<part name="parameters" element="tns:requestTokensAsyncResponse"></part>
</message>
<message name="requestTokensImmediate">
<part name="parameters" element="tns:requestTokensImmediate"></part>
</message>
<message name="requestTokensImmediateResponse">
<part name="parameters" element="tns:requestTokensImmediateResponse"></part>
</message>
<message name="getRoundSummaries">
<part name="parameters" element="tns:getRoundSummaries"></part>
</message>
<message name="getRoundSummariesResponse">
<part name="parameters" element="tns:getRoundSummariesResponse"></part>
</message>
<message name="retrieveTokens">
<part name="parameters" element="tns:retrieveTokens"></part>
</message>
<message name="retrieveTokensResponse">
<part name="parameters" element="tns:retrieveTokensResponse"></part>
</message>
<message name="createWitnessProofForRound">
<part name="parameters" element="tns:createWitnessProofForRound"></part>
</message>
<message name="createWitnessProofForRoundResponse">
<part name="parameters" element="tns:createWitnessProofForRoundResponse"></part>
</message>
<portType name="IMSWebService">
<operation name="requestLink">
<input message="tns:requestLink"></input>
<output message="tns:requestLinkResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
<operation name="requestTokensAsync">
<input message="tns:requestTokensAsync"></input>
<output message="tns:requestTokensAsyncResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
<operation name="requestTokensImmediate">
<input message="tns:requestTokensImmediate"></input>
<output message="tns:requestTokensImmediateResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
<operation name="getRoundSummaries">
<input message="tns:getRoundSummaries"></input>
<output message="tns:getRoundSummariesResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
<operation name="retrieveTokens">
<input message="tns:retrieveTokens"></input>
<output message="tns:retrieveTokensResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
<operation name="createWitnessProofForRound">
<input message="tns:createWitnessProofForRound"></input>
<output message="tns:createWitnessProofForRoundResponse"></output>
<fault message="tns:IMSFault" name="IMSFault"></fault>
</operation>
</portType>
<binding name="IMSWebServicePortBinding" type="tns:IMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="requestLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="requestTokensAsync">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="requestTokensImmediate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRoundSummaries">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="retrieveTokens">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createWitnessProofForRound">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="IMSWebService">
<port name="IMSWebServicePort" binding="tns:IMSWebServicePortBinding">
<soap:address location="http://ims.umiacs.umd.edu:8080/ace-ims/IMSWebService"></soap:address>
</port>
</service>
</definitions>