ace-ims-ws/src/main/resources/IMSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ims.ace.umiacs.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ims.ace.umiacs.edu/" name="IMSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ims.ace.umiacs.edu/" schemaLocation="IMSWebService.xsd"/>
</xsd:schema>
</types>
<message name="requestLink">
<part name="parameters" element="tns:requestLink"/>
</message>
<message name="requestLinkResponse">
<part name="parameters" element="tns:requestLinkResponse"/>
</message>
<message name="IMSFault">
<part name="fault" element="tns:IMSFault"/>
</message>
<message name="requestTokensAsync">
<part name="parameters" element="tns:requestTokensAsync"/>
</message>
<message name="requestTokensAsyncResponse">
<part name="parameters" element="tns:requestTokensAsyncResponse"/>
</message>
<message name="requestTokensImmediate">
<part name="parameters" element="tns:requestTokensImmediate"/>
</message>
<message name="requestTokensImmediateResponse">
<part name="parameters" element="tns:requestTokensImmediateResponse"/>
</message>
<message name="getRoundSummaries">
<part name="parameters" element="tns:getRoundSummaries"/>
</message>
<message name="getRoundSummariesResponse">
<part name="parameters" element="tns:getRoundSummariesResponse"/>
</message>
<message name="createWitnessProofForRound">
<part name="parameters" element="tns:createWitnessProofForRound"/>
</message>
<message name="createWitnessProofForRoundResponse">
<part name="parameters" element="tns:createWitnessProofForRoundResponse"/>
</message>
<message name="retrieveTokens">
<part name="parameters" element="tns:retrieveTokens"/>
</message>
<message name="retrieveTokensResponse">
<part name="parameters" element="tns:retrieveTokensResponse"/>
</message>
<portType name="IMSWebService">
<operation name="requestLink">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestLinkRequest" message="tns:requestLink"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestLinkResponse" message="tns:requestLinkResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestLink/Fault/IMSFault"/>
</operation>
<operation name="requestTokensAsync">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensAsyncRequest" message="tns:requestTokensAsync"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensAsyncResponse" message="tns:requestTokensAsyncResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensAsync/Fault/IMSFault"/>
</operation>
<operation name="requestTokensImmediate">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensImmediateRequest" message="tns:requestTokensImmediate"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensImmediateResponse" message="tns:requestTokensImmediateResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/requestTokensImmediate/Fault/IMSFault"/>
</operation>
<operation name="getRoundSummaries">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/getRoundSummariesRequest" message="tns:getRoundSummaries"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/getRoundSummariesResponse" message="tns:getRoundSummariesResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/getRoundSummaries/Fault/IMSFault"/>
</operation>
<operation name="createWitnessProofForRound">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/createWitnessProofForRoundRequest" message="tns:createWitnessProofForRound"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/createWitnessProofForRoundResponse" message="tns:createWitnessProofForRoundResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/createWitnessProofForRound/Fault/IMSFault"/>
</operation>
<operation name="retrieveTokens">
<input wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/retrieveTokensRequest" message="tns:retrieveTokens"/>
<output wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/retrieveTokensResponse" message="tns:retrieveTokensResponse"/>
<fault message="tns:IMSFault" name="IMSFault" wsam:Action="http://ws.ims.ace.umiacs.edu/IMSWebService/retrieveTokens/Fault/IMSFault"/>
</operation>
</portType>
<binding name="IMSWebServicePortBinding" type="tns:IMSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="requestLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
<operation name="requestTokensAsync">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
<operation name="requestTokensImmediate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
<operation name="getRoundSummaries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
<operation name="createWitnessProofForRound">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
<operation name="retrieveTokens">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IMSFault">
<soap:fault name="IMSFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="IMSWebService">
<port name="IMSWebServicePort" binding="tns:IMSWebServicePortBinding">
<soap:address location="http://ims.tdl.org:80/ace-ims/IMSWebService"/>
</port>
</service>
</definitions>